<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>TESTE</title>
    <link rel='stylesheet' type='text/css' media='screen' href='{{ url_for('static', filename='Busca/main.css') }}'>
</head>

<body>
    <div class="catalogo">

        {% for produto in produtos %}

            <div class="itens">
                <img src='{{ url_for('download_file', filename=produto.filename) }}' class="img">
                <h4>{{ produto.nome }}</h4>
                <h3 class="valor">R$ {{ produto.valor }}</h3>
                <button id="btnBusca" onclick=" location.href = '/pagamento+{{produto.id}}' ">Comprar</button>
            </div>

        {%endfor%}

        {% if produtos |length == 0 %}
            <script>
                alert("Nenhum produto encontrado \nTente novamente")
                history.back()
            </script>
                
        {% endif %}

    </div>
</body>

</html>